<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="footer__copy text-sm-center text-md-left">
                    &copy; {{"now"|date('Y')}} <a href="mailto:stikar.michal@gmail.com" target="_blank" data-toggle="tooltip" title="Kontaktovat emailem">Michal Štikar</a>. Všechna práva vyhrazena.
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="footer__created text-sm-center text-lg-right">
                    <a class="created" href="https://www.studioart.cz" target="_blank" data-toggle="tooltip" title="Using Wordpress <3">
                        <i class="fa fa-wordpress" aria-hidden="true"></i> Created by StudioArt
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>