{% if menu %}
	<ul class="nav nav-justified">
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }} nav-item">
			<a href="{{ item.get_link }}" class="nav-link">

				{% if item.classes|key_exist('icon') %}
				<i class="fa {{ item.classes|use_font_face }}"></i>
				{% endif %}

				<span>{{ item.title }}</span></a>
				{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}